body {
    background: #e9ecef;
}

.btn {
    margin: .15em;
    margin-top: 1em;
}

.label {
    font-size: .75em;
    font-weight: bold;
}

.btn-primary {
    background-color: #609599;
    border-color: #609599;
}

.img-flex {
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.imgDiv {
    margin: .15em;
}